project_id = "llsxfrhefvfdrenqodde"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[functions.validate-wordpress]
verify_jwt = false

[functions.validate-ai-provider]
verify_jwt = false

[functions.crawl-sitemap]
verify_jwt = false

[functions.fetch-page-content]
verify_jwt = false
